/*header*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f5f0;
}

header {
    background-color: #88b990;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
}

h1 {
    width: 200px;
    height: auto;
}

ul {
    display: flex;
    gap: 2vw;
}

a {
    color: #f7f5f0;
    font-weight: bold;
    font-size: 1.4rem;
}

a.atual {
    background-color: #cc6e3a;
    padding: 10px 20px;
    border-radius: 20px;
}

/*main*/






/*footer*/

footer {
    background-color: #88b990;
    padding: 2vw 5vw;
    text-align: center;
    color: #f7f5f0;
    font-weight: bold;
}

footer .redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .redes svg {
    width: 4vw;
    height: auto;
    margin-bottom: 1vw;
}

footer .rodape {
    display: flex;
    justify-content: space-between;
    padding: 3vw 0 0 0;
}